.image-container {
    width:100%;

    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}

.image-container img {
    flex-shrink:0;
    -webkit-flex-shrink: 0;
    max-width:100%;
    border-radius: 0.5em;
}