<div class="page-header" data-parallax="true" style="background-image: url('../../assets/img/estoque.jpg');">
  <div class="filter"></div>
  <div class="container small-header">
    <div class="motto text-center">
      <h2>Cadastro de Produtos</h2>
    </div>
  </div>
</div>
<div class="section produtos-section">
  <div class="container">
    <div class="row">


      <div class="col-md-12 mr-auto ml-auto">
        <form [formGroup]="cadastrarProdutoForm" (submit)="cadastrarProduto(false)">

          <div class="row">

            <div class="col-md-6">
              <app-image-uploader></app-image-uploader>
            </div>

            <div class="col-md-6">
              <div class="row">

                <div class="col-md-12">
                  <h6>Nome</h6>
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="nc-icon nc-box-2"></i>
                    </span>
                    <input formControlName="nome" type="text" class="form-control" placeholder="Nome">
                  </div>
                  <br>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h6>Descrição</h6>
                  <textarea formControlName="descricao" class="form-control" rows="4" placeholder="Detalhe o produto que está sendo cadastrado..."></textarea>
                  <br>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <h6>Preço</h6>
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="nc-icon nc-money-coins"></i>
                    </span>
                    <input formControlName="preco" type="text" class="form-control" placeholder="Preço de venda">
                  </div>
                  <br>
                </div>
                <div class="col-md-6">
                  <h6>Estoque</h6>
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="nc-icon nc-chart-bar-32"></i>
                    </span>
                    <input formControlName="estoque" type="text" class="form-control" placeholder="Quantidade de produtos em estoque">
                  </div>
                  <br>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <h6>Preço Promocional</h6>
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="nc-icon nc-money-coins"></i>
                    </span>
                    <input formControlName="precoPromocional" type="text" class="form-control" placeholder="Preço promocional">
                  </div>
                  <br>
                </div>
                <div class="col-md-6">
                  <h6>Data de Validade</h6>
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="nc-icon nc-calendar-60"></i>
                    </span>
                    <input formControlName="dataValidade" type="date" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input formControlName="isPromocao" class="form-check-input" type="checkbox" value="">Promoção
                      <span class="form-check-sign"></span>
                    </label>

                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input formControlName="isPerecivel" class="form-check-input" type="checkbox" value="">Produto Perecível
                      <span class="form-check-sign"></span>
                    </label>

                  </div>
                </div>
                <div class="col-md-6">
                  <h6>Categoria</h6>
                  <select class="form-control" formControlName="categoria" name="" id="">
                    <option value="" selected>- Selecione -</option>
                    <option *ngFor="let c of categorias" value="c.id">{{c.nome}}</option>
                  </select>
                  <br>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mr-auto ml-auto">
                  <button type="button" (click)="cancelar()" class="btn btn-light btn-lg btn-fill fill">Cancelar</button>
                </div>
                <div class="col-md-6 mr-auto ml-auto">
                  <button type="submit" class="btn btn-success btn-lg btn-fill fill">Cadastrar</button>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <br>
                  <button type="button" (click)="cadastrarProduto(true)" class="btn btn-warning btn-lg btn-fill fill">Cadastrar e Publicar</button>
                </div>
              </div>

            </div>

          </div>

        </form>
      </div>


    </div>
  </div>
</div>