<div class="page-header smaller" data-parallax="true" style="background-image: url('../../assets/img/estoque.jpg');">
  <div class="filter"></div>
  <div class="container small-header">
    <div class="motto text-center">
      <h2>Listagem de Produtos</h2>
    </div>
  </div>
</div>
<div class="section produtos-section">
  <div class="container">
    <div class="row">

      <div class="col-md-12 mr-auto ml-auto">

        <div class="row" [formGroup]="pesquisarForm">
          <div class="col-md-6">
            
          </div>
          <div class="col-md-5">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="nc-icon nc-zoom-split"></i>
              </span>
              <input formControlName="pesquisar" type="text" class="form-control" placeholder="Digite o nome do produto...">
            </div>

          </div>
          <div class="col-md-1">
            <button (click)="pesquisarProduto()" type="button" class="btn btn-success btn-md btn-fill fill">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-12">

            <table class="table table-responsive-xl">
              <thead>
                <tr>
                  <th class="text-center mobile-hidden">#</th>
                  <th>Nome</th>
                  <th>Descrição</th>
                  <th class="text-right">Preço</th>
                  <th class="text-right">Estoque</th>
                  <th class="text-right mobile-hidden">Validade</th>
                  <th class="text-right">Ações</th>
                </tr>
              </thead>
              <tbody>
                <!---->
                <tr *ngFor="let p of produtos; let i = index" class="ng-star-inserted">
                  <td class="text-center mobile-hidden">{{i+1}}</td>
                  <td>{{p.nome}}</td>
                  <td>{{p.descricao}}</td>
                  <td class="text-right" *ngIf="!p.isPromocao">{{p.preco}}</td>
                  <td class="text-right" *ngIf="p.isPromocao">{{p.precoPromocional}} <i class="fas fa-coins gold"></i></td>
                  <td class="text-right">{{p.estoque}}</td>
                  <td class="text-right mobile-hidden">{{ p.dataValidade | date: 'dd/MM/yyyy' }}</td>
                  <td class="td-actions text-right">
                    <button routerLink='/cadastrar-produto' [queryParams]='{id: p.id}' class="btn btn-success btn-link btn-sm" ngbtooltip="Editar Produto" type="button">
                      <i class="fa fa-edit"></i>
                    </button>
                    <button (click)="removeProduto(i)" class="btn btn-danger btn-link btn-sm" ngbtooltip="Remove" type="button">
                      <i class="fa fa-times"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>