html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

.gold {
    color: goldenrod;
}

table {
    @media only screen and (max-width: 575px) {
        .mobile-hidden {
            display: none;
        }
    }
}

h2 {
    margin-bottom: -0.5em;
}

h4 {
    margin-bottom: -2em;
}

label {
    margin-bottom: 0px;
}

.col .col-md-6 .col-md-12 {
    margin-bottom: 1em;
} 