<div class="page-header smaller" data-parallax="true" style="background-image: url('../../assets/img/estoque.jpg');">
  <div class="filter"></div>
  <div class="container small-header">
    <div class="motto text-center">
      <h2>Pessoas</h2>
    </div>
  </div>
</div>
<div class="section produtos-section">
  <div class="container">
    <div class="row">


      <div class="col-md-12 mr-auto ml-auto">

        <div class="row" [formGroup]="pesquisarForm">
          <div class="col-md-10">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="nc-icon nc-zoom-split"></i>
              </span>
              <input formControlName="pesquisar" type="text" class="form-control" placeholder="Digite o nome da pessoa...">
            </div>

          </div>
          <div class="col-md-2">
            <button (click)="pesquisarPessoa()" type="button" class="btn btn-success btn-md btn-fill fill">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-12">

            <table class="table">
              <thead>
                <tr>
                  <th class="text-center">#</th>
                  <th>Nome</th>
                  <th>Telefone</th>
                  <th>Email</th>
                  <th>CPF</th>
                  <th>Data de Nascimento</th>

                </tr>
              </thead>
              <tbody>
                <!---->
                <tr *ngFor="let p of pessoas; let i = index" class="ng-star-inserted">
                  <td class="text-center">{{i+1}}</td>
                  <td>{{p.nome}}</td>
                  <td>{{p.telefone}}</td>
                  <td>{{p.email}}</td>
                  <td>{{p.cpf}}</td>
                  <td>{{p.dataNascimento}}</td>

                  <td class="td-actions text-right">
                    <button class="btn btn-success" [routerLink]="['/pessoas', p._id]" ngbtooltip="View Profile" type="button">
                      Acompanhamento
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>