<div class="image-container">
    <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
            <img [src]="images[0]" alt="Random first slide">
        </ng-template>
        <ng-template ngbSlide>
            <img [src]="images[1]" alt="Random second slide">
        </ng-template>
        <ng-template ngbSlide>
            <img [src]="images[2]" alt="Random third slide">
        </ng-template>
    </ngb-carousel>
</div>

<br>
<input type="file" style="display: none" (change)="onFileSelection($event)" multiple #filePicker>
<button type="button" class="btn btn-outline-default btn-file btn-round" (click)="filePicker.click()">Adicionar imagens</button>